
.contents-center{
    margin:auto;
    width:50%;
}
.hidden{
    display : none;
}
#reduce-all-button{
    border:none;
    color : white;
    background-color: #4CAF50;
    float:right;
    font-size: 20pt;
}
#reduce-all-button:hover{
    color:black;
    background-color:red;
}

